:root {
    --offcanvas-width: 270px;
    --topNavbarHeight: 56px;
}

main{
    margin-top: var(--topNavbarHeight)!important;
}


.sidebar-nav {
    width: var(--offcanvas-width) !important;
}

.sidebar-link {
    display: flex;
    align-items: center;
}

.sidebar-link .right-icon {
    display: inline-flex;
}

.sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
}

@media (min-width:992px) {
    body {
        overflow:auto !important;
    }
    .offcanvas-backdrop.show{
        display: none !important;
    }

    main.is-login {
        padding-left: var(--offcanvas-width)!important;
        padding-right: 0px;
    }
    .sidebar-nav {
        transform: none !important;
        visibility: visible !important;
        top: var(--topNavbarHeight) !important;
        height: calc(100% - var(--topNavbarHeight))!important;
    }
}

.nav-divider {
   margin: 0.5rem 0; 
}